.top-buffer { margin-top:20px; }

.deleteEntryButton,.deletePage{margin-right: 20px;}

body{
  background: url(../css/straws.png);
  margin: 10px;
}

#inst_list,#help_list{
	list-style: decimal inside;
}

#inst_list >.list-group-item, #help_list >.list-group-item  {
    display: list-item;
}

#updateButton{
	margin-left: 10px;
}

h3 span{
	padding-top:5px;
}

.glyphicon-trash{
	padding-right: 5px;
}